<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tentang Aplikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="fade-in">
    <ion-card-header class="center-header">
      <ion-card-title>SIMOBILE</ion-card-title>
      <ion-card-subtitle>Kelompok Warnet</ion-card-subtitle>
    </ion-card-header>
    <ion-card>
      <div id="frame">
        <ion-avatar id="myAvatar">
          <ion-img src="https://my.ubaya.ac.id/img/mhs/160424096_l.jpg"></ion-img>
        </ion-avatar>
      </div>
      <ion-card-content class="tengah_atasberjarak">
        Michael Jaya <br> 
        160424096
      </ion-card-content>
    </ion-card>

    <ion-card>
      <div id="frame">
        <ion-avatar id="myAvatar">
          <ion-img src="https://my.ubaya.ac.id/img/mhs/160424099_l.jpg"></ion-img>
        </ion-avatar>
      </div>
      <ion-card-content class="tengah_atasberjarak">
        Richard Gerard Soentanto <br> 
        160424099
      </ion-card-content>
    </ion-card>

    <ion-card>
      <div id="frame">
        <ion-avatar id="myAvatar">
          <ion-img src="https://my.ubaya.ac.id/img/mhs/160424108_l.jpg"></ion-img>
        </ion-avatar>
      </div>
      <ion-card-content class="tengah_atasberjarak">
        Geraldine Steny Lae <br> 
        160424108
      </ion-card-content>
    </ion-card>

    <ion-card>
      <div id="frame">
        <ion-avatar id="myAvatar">
          <ion-img src="https://my.ubaya.ac.id/img/mhs/160424050_l.jpg"></ion-img>
        </ion-avatar>
      </div>
      <ion-card-content class="tengah_atasberjarak">
        Dennis Alexander Kamaruddin <br>
        160424050
      </ion-card-content>
    </ion-card>
  </ion-card>
</ion-content>