ion-avatar {
  width: 120px;
  height: 120px;
}

#frame {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tengah_atasberjarak {
  text-align: center;
  margin-top: 10px;
}

.center-header {
  text-align: center;
}
