<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Riwayat Transaksi</ion-title>
    <ion-buttons slot="end">
      <ion-button id="btnRefresh" (click)="refreshData()" color="light" fill="outline" shape="round"
        style="margin-right: 10px; border-radius: 8px;">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-alert trigger="btnRefresh" header="Berhasil" message="Halaman riwayat transaksi berhasil diperbarui!"
        [buttons]="['OK']"></ion-alert>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div *ngIf="transactions.length === 0" style="text-align:center; margin-top:50px;" class="fade-in">
    <ion-icon name="document-text-outline" style="font-size:64px; color:var(--ion-color-medium);"></ion-icon>
    <p style="color:var(--ion-color-medium);">Belum ada riwayat transaksi</p>
  </div>

  <ion-list *ngIf="transactions.length > 0" lines="none">
    
    <div *ngFor="let tx of transactions" class="fade-in">
      <ion-item button (click)="showDetail(tx)">
        <ion-icon name="receipt" slot="start" color="primary"></ion-icon>
        <ion-label>
          <h2>Transaksi #{{ tx.id }}</h2>
          <p>{{ tx.date | date:'dd/MM/yyyy HH:mm' }}</p>
        </ion-label>

        <span slot="end" style="color: var(--ion-color-success); font-weight: bold; font-size: 14px;">
          Rp {{ tx.total | number}}
        </span>
      </ion-item>

      <!-- Card Detail -->
      <ion-card *ngIf="selectedTx?.id === tx.id" class="slide-up">
        <ion-card-header>
          <ion-card-subtitle>Detail Transaksi #{{ tx.id }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            
            <ion-item *ngFor="let item of tx.items">
              <ion-label>{{ item.product.name }}</ion-label>
              <span slot="end" style="color: var(--ion-text-dark); font-size: 13px;">
                {{ item.quantity }} x Rp {{ item.product.sellPrice | number}}
              </span>
            </ion-item>

            <ion-item>
              <ion-label style="color: var(--ion-color-success); font-weight: bold;">TOTAL PEMBAYARAN</ion-label>
              <span slot="end" style="color: var(--ion-color-success); font-weight: bold; font-size: 15px;">
                Rp {{ tx.total | number}}
              </span>
            </ion-item>
            
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
    
  </ion-list>
</ion-content>