<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/produk"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEdit ? 'Edit Produk' : 'Tambah Produk' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="productForm">
    <ion-list>

      <!-- Pola input: label + labelPlacement (sesuai newpasta & setting kelas Week 6) -->
      <ion-item>
        <ion-input label="Nama Produk" labelPlacement="stacked" formControlName="name"
          placeholder="Masukkan nama produk"></ion-input>
        <ion-checkbox slot="end" [checked]="productForm.get('name')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input label="Link Gambar" labelPlacement="stacked" formControlName="image" type="url"
          placeholder="https://example.com/gambar.jpg"></ion-input>
        <ion-checkbox slot="end" [checked]="productForm.get('image')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input label="Kategori" labelPlacement="stacked" formControlName="category"
          placeholder="Contoh: Sembako, Minuman"></ion-input>
        <ion-checkbox slot="end" [checked]="productForm.get('category')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input label="Harga Beli" labelPlacement="stacked" formControlName="buyPrice" type="number"
          placeholder="0"></ion-input>
        <ion-checkbox slot="end" [checked]="productForm.get('buyPrice')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input label="Harga Jual" labelPlacement="stacked" formControlName="sellPrice" type="number"
          placeholder="0"></ion-input>
        <ion-checkbox slot="end" [checked]="productForm.get('sellPrice')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-input label="Stok" labelPlacement="stacked" formControlName="stock" type="number"
          placeholder="0"></ion-input>
        <ion-checkbox slot="end" [checked]="productForm.get('stock')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-textarea label="Deskripsi" labelPlacement="stacked" formControlName="description"
          placeholder="Masukkan deskripsi produk..." [autoGrow]="true"></ion-textarea>
        <ion-checkbox slot="end" [checked]="productForm.get('description')?.valid" disabled="true"></ion-checkbox>
      </ion-item>

      <!-- Tombol + Alert (pola sama seperti newpasta Week 6) -->
      <ion-item>
        <ion-button id="btnSimpan" (click)="save()" [disabled]="productForm.invalid" expand="block" color="primary">
          {{ isEdit ? 'Update Produk' : 'Simpan Produk' }}
        </ion-button>
        <ion-alert trigger="btnSimpan" header="Berhasil"
          [message]="isEdit ? 'Produk berhasil diupdate!' : 'Produk baru berhasil disimpan!'"
          [buttons]="alertButtons"></ion-alert>
      </ion-item>

    </ion-list>
  </form>
</ion-content>